.places-header {
  padding: var(--kg-padding-md) 0;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.places-header h2 {
  font-size: var(--kg-font-size-h2);
  margin-bottom: var(--kg-margin-sm);
}


.places-header p {
  color: var(--kg-text-secondary);
  font-size: var(--kg-font-size-text);
}