.places-container{
  justify-self: center;
  width: 70%;
  height: 80%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--kg-gap-xl);
  color: var(--kg-text-primary);
}

.places-container > p{
  text-align: start;
}