.reminder-notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.reminder-notifications-container {
  width: var(--kg-width-reminder);
  height: auto;
  background-color: var(--kg-color-secondary);
  border-radius: var(--kg-radius-md);
  padding: var(--kg-padding-xl);
}

.success {
  background-color: var(--kg-color-secondary);
  border-radius: var(--kg-radius-md);
  padding: var(--kg-padding-xl);
  width: 100%;
  height: auto;
}

.success-prompt-wrap{
  display: flex;
  flex-direction: column;
  gap: var(--kg-gap-md);
} 

.success-prompt-heading {
  font-size: var(--kg-font-size-h3);
  line-height: 2rem;
  font-weight: bold;
  margin-bottom:var(--kg-margin-md);
}

.success-prompt-prompt {
  background-color: var(--kg-color-tertiary);
  padding:var(--kg-padding-md);
  font-size: var(--kg-font-size-link);
  line-height: 1.5rem;
  color: var(--kg-color-dark);
  border-radius: var(--kg-radius-md);
}

.success-prompt-prompt p {
  margin: 0;
  line-height: 1.8rem;
}

.success-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
}

.success-button-main {
  margin-right: 2rem;
  padding: 1.5rem 1rem;
  background-color: var(--kg-color-dark);
  color: var(--kg-color-primary);
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius:50%;
  border: none
}

.success-button-main:hover {
  background-color: var(--kg-color-tertiary);
  color: var(--kg-color-dark);
}

.success-button-secondary {
  margin-right: 2rem;
  padding: 1.5rem 1rem;
  background-color: var(--kg-color-secondary);
  color: var(--kg-color-primary);
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
}

.success-button-secondary:hover {
  background-color: var(--kg-color-secondary);
  color: var(--kg-color-dark);
}
