#switch {
  width: 60px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 3px solid var(--kg-bg-secondary);
  border-radius: 27px;
}

#circle {
  transition: transform 0.3s;
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  background: var(--kg-bg-secondary);
}

#circle.on {
  transform: translateX(25px);
  background-color: var(--kg-color-secondary);
}

.switched {
  border-color: var(--kg-bg-darks) !important;
  background: var(--kg-bg-secondary) !important;
}

@media (max-width: 900px) {
  .switch-container {
    bottom: 3.5rem;
  }
}

@media (max-width: 500px) {
  .switch-container {
    bottom: 2rem;
  }
}