.menu-aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left:  var(--kg-padding-md);
  opacity: 85%;
  border: solid 4px var(--kg-color-secondary);
  border-radius: var(--kg-radius-md);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  justify-content: start;
  padding:var(--kg-padding-sm);
  gap: var(--kg-gap-md);
}

.menu-list {
  padding: var(--kg-padding-sm);
}

.menu-icon img{
  width:1rem;
  margin-right: 10px;
  filter: invert(100%) brightness(100%);;
}

.menu-icon img:hover{
  filter: invert(100%) brightness(60%);;
}

.menu-item {
  margin-bottom: 1.5rem;
}

.menu-link {
  display: flex;
  color: var(--kg-color-primary);
  font-size: 1em; ;
}

.menu-link:hover {
  color: var(--kg-color-secondary);
}

.menu-link:focus {
  outline: none;
}

@media (max-width: 900px) {
  .menu-text{
    display: none;
  }
  .menu-icon > img{
    width: 2rem;
  }

} 

@media (max-width: 500px) {

  .menu-icon > img{
    width: 1.5rem;
  }

} 
