.menu-aside{
  grid-row: 2/-2;
  grid-column: 1/3;
  width: 80%;
  height:76svh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 7%;
  top: 7rem;
  background-color: var(--kg-color-dark);
  opacity: 75%;
  color: var(--kg-text-dark);
  border: solid 4px var(--kg-color-secondary);
  border-radius: var(--kg-radius-md);
}

.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  justify-content: center;
  padding: 2em ;
  gap: 25px;
  width: 100%;
  left: 0;
}

.menu-list {
  list-style-type: none;
  padding: 0.6em 0.1em;
}

.menu-icon img{
  width:1rem;
  margin-right: 10px;
  filter: invert(100%) brightness(100%);;
}

.menu-icon img:hover{
  filter: invert(100%) brightness(60%);;
}

.menu-item {
  margin-bottom: 2rem;
}

.menu-link {
  display: flex;
  color: var(--kg-color-primary);
  text-decoration: none;
  font-size: var(--kg-font-size-h4); ;
}

.menu-link:hover {
  color: var(--kg-color-secondary);
}

.menu-link:focus {
  outline: none;
}

.dark {
  background-color: var(--kg-bg-tertiary);
  color: var(--kg-text-dark);
}

@media (max-width: 900px) {
  .menu-text{
    display: none;
  }
  .menu-icon > img{
    width: 2rem;
  }
  .menu-aside{
    width: 100%;
  }
} 

@media (max-width: 500px) {
  .menu-icon > img{
    width: 1.5rem;
  }
  .menu-nav {
   padding-left: 1rem;
  }
} 
