.notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.notification-container {
  width: auto;
  max-width: 80%;
  max-height: 80vh;
  overflow-y: auto;
  background-color: var(--kg-bg-secondary);
  padding: var(--kg-padding-alert);
  border-radius: var(--kg-radius-md);
}

.notification-content {
  display: flex;
  flex-direction: column;
  gap: var(--kg-gap-md);
}

.notification-heading {
  font-weight: bold;
  color: var(--kg-color-dark);
  font-size: x-large;
}

.notification-prompt {
  background-color: var(--kg-color-tertiary);
  font-size: var(--kg-font-size-link);
  color: var(--kg-color-dark);
  line-height: 2rem;
  border-radius: var(--kg-radius-md);
  padding: var(--kg-padding-md);
}

.notification-button-container {
  display: flex;
  gap: var(--kg-gap-md);
  justify-content: flex-end;
  margin-top: var(--kg-margin-md);
}
.button-plus-container > .box_plus {
  transform: scale(0.7);
}

/* Responsive */
@media (max-width: 768px) {
  .notification-container {
    max-width: 90%;
    padding: var(--kg-padding-md);
  }
  
  .notification-button-main,
  .notification-button-secondary {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .notification-container {
    max-width: 95%;
    padding: var(--kg-padding-sm);
  }
  
  .notification-heading {
    font-size: large;
  }
  
  .notification-prompt {
    font-size: var(--kg-font-size-p);
    line-height: 1.5rem;
  }
  
  .notification-button-container {
    flex-direction: column;
  }
  
  .notification-button-main,
  .notification-button-secondary {
    width: 100%;
    margin-bottom: var(--kg-margin-sm);
  }
}
