.notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.notifications-container {
  width: auto;
  height: auto;
  font-size: var(--kg-font-size-text);
}

.success {
  background-color: var(--kg-bg-secondary);
  padding:var(--kg-padding-alert);
  border-radius: var(--kg-radius-md);
}

.success-prompt-wrap {
  margin: var(--kg-margin-md) auto;
}

.success-prompt-heading {
  font-weight: bold;
  color:var(--kg-color-dark);
  font-size: x-large;
}

.success-prompt-prompt {
  background-color: var(--kg-color-tertiary);
  padding:1rem;
  font-size: var(--kg-font-size-link);
  color: var(--kg-color-dark);
  line-height: 2rem;
  margin-top: var(--kg-margin-md);
  border-radius: var(--kg-radius-md);
}

.success-button-container {
  display: flex;  gap: var(--kg-gap-md);
  justify-content: flex-end;
  margin-top: var(--kg-margin-md);
  padding: var(--kg-padding-md);
}

/* Responsive */
@media (max-width: 768px) {
  .reminder-list {
    height: 300px; 
  }
}

@media (max-width: 480px) {
  .reminder-list {
    height: 250px;
  }
}
