.notifications-container {
  background-color: var(--kg-color-dark);
  border-radius: var(--kg-radius-md);
  position: absolute;
  left: 30em;
  top: 10em;
  width: 40rem;
  height: auto;
  font-size: var(--kg-font-size-text);
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
}

.success {
  padding: 6rem;
  border-radius: var(--kg-radius-md);
  background-color: var(--kg-color-primary);
  color: var(--kg-color-white);
}

.success-prompt-wrap {
  margin: 1rem auto;
}

.success-prompt-heading {
  font-weight: bold;
  color:var(--kg-color-dark);
  font-size: x-large;
}

.success-prompt-prompt {
  margin-top: 1rem;
  color:var(--kg-color-dark);
}

.success-button-container {
  display: flex;
  gap: var(--kg-gap-md);
  justify-content: flex-end;
  margin-top: var(--kg-margin-md);
}

.success-button-main-alert {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 1rem;
  padding-right:1rem;
  background-color: var(--kg-color-secondary);
  color: var(--kg-color-dark);
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius:var(--kg-radius-sd);
  border: none
}

.success-button-main-alert:hover {
  background-color: var(--kg-color-secondary);
}

.success-button-secondary-alert {
  padding: var(--kg-padding-sm) var(--kg-padding-lg);
  border-radius: var(--kg-radius-md);
  background-color: var(--kg-color-tertiary);
  color: var(--kg-color-dark);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.success-button-secondary-alert:hover {
  background-color: var(--kg-color-dark);
  color: var(--kg-color-tertiary);
}
