$color1:var(--kg-color-primary);
$color2:var(--kg-color-secondary);
$color3:var(--kg-color-tertiary);
$color4:var(--kg-color-dark);

.calendar-container{
  position: relative;
  margin: auto;
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  gap: var(--kg-gap-md);
}

.calendar-container > div{
  height: 100%;
}

.calendar-content {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color:$color3;
  font-weight: 500; 
  color: $color4; 
  border-radius: var(--kg-radius-md);

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: var(--kg-padding-md);

    .month-year {
      font-size:var(--kg-font-size-link);
    }

    .calendar-nav {
      background: none;
      border: none;
      cursor: pointer;
      color:$color4;
      font-weight: 900;
      transition: color 0.3s ease;

      &:hover {
        color:$color2;
      }
    }
  }

  .days-grid {
    height: 70%;;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    padding: 4px 6px;

    .day {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color:$color2;
        box-shadow: $color4;
      }
      
      &.empty {
        background-color: transparent;
        cursor: default;
      }

      &.has-reminder {
        border: 3px solid $color4;
      }

      &.today {
        background-color: $color3;
      }
    }

    // Añadir estos estilos para días pasados
    .day.past {
      opacity: 0.5;
      cursor: not-allowed;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 900px) {
  .calendar-container{
    margin: auto;
  }
  .calendar-content {
    .days-grid {
      grid-template-columns: repeat(7, 1fr);
      gap: 3px;
      padding: 3px;
      font-size:0.8rem;
      }
      .calendar-header {
        margin-bottom: 20px;
      }
  }
}

@media (max-width: 500px) {
  .calendar-container{
    top: 0;
  }
  .calendar-content {
    .days-grid {
      grid-template-columns: repeat(5, 1fr);
      gap: 2px;
      padding: 2px;
      font-size:0.6rem;
      }
      .calendar-header {
        margin-bottom: 0;
      }
  }
}

.calendar-button-plus-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  
  .box_plus {
    transform: scale(0.7);

    .span_plus{
      font-size: var(--kg-font-size-h3);
      color: var(--kg-color-dark);
    }
  }
}

.reminder-notification-content {
  margin-top: var(--kg-margin-md);
  padding: var(--kg-padding-lg);
  max-height: 70vh;
  overflow-y: auto;
  text-align: center;
  background-color: var(--kg-color-secondary);

  h3 {
    margin-bottom: 15px;
    color: var(--kg-color-primary);
  }

  p {
    margin-bottom: 1rem;
    font-size: var(--kg-font-size-p);
    color: var(--kg-color-dark);
    font-weight: 500;
  }

  .reminder-list {
    margin-bottom: 15px;
    text-align: left;
  }
}

.reminder-notification-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(var(--kg-color-primary-rgb), 0.1);
  border-radius: var(--kg-radius-sd);

  .reminder-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    h4 {
      margin: 0;
      color: var(--kg-color-primary);
    }
  }

  .reminder-details {
    p {
      margin: 5px 0;
      font-size: 0.9rem;
    }
  }
}
