.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 90%;
  color: var(--kg-text-primary);
  text-align: center;
  padding: 0 var(--kg-padding-md);
  font-size: var(--kg-font-size-text);
  border-radius: var(--kg-radius-md);
  position: sticky;
  margin: auto 1rem;
  margin-top: var(--kg-margin-md);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--kg-color-primary);
  opacity: 10%;
  border-radius: var(--kg-radius-md);
  z-index: -1; 
}

.auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-logo img {
  width: 15rem;
  transition: 1s;
  cursor: pointer;
  margin-top: 1rem;
}

.header-logo:hover {
  transform:scale(1.05);
  transition: 1s;
  cursor: pointer;
}

/* Estilo base para el título del header (modo oscuro predeterminado) */
.header-title {
  font-size: var(--kg-font-size-p);
  font-weight: bold;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  color: var(--kg-text-primary); /* Color claro en modo oscuro predeterminado */
}

/* Estilo para el título del header en modo claro */
body.dark .header-title {
  color: var(--kg-text-dark); /* Color oscuro en modo claro */
}

.header-login>.svg-icon{
  display: none;
}

.header-menu, 
.header-login{
  display: flex;
  gap: 20px;
  font-size: var(--kg-font-size-text);
  margin-right: 3rem;
}

/* Estilo base para los enlaces del header (modo oscuro predeterminado) */
.header-menu a,
.header-login a {
  color: var(--kg-text-secondary); /* Color secundario en modo oscuro predeterminado */
}

/* Estilo para los enlaces del header en modo claro */
body.dark .header-menu a,
body.dark .header-login a {
  color: var(--kg-text-dark); /* Color oscuro en modo claro */
}

.header-menu a:hover,
.header-login a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  text-shadow: 0 0 30px var(--kg-text-primary);
}

@media (max-width: 900px) {
  .header {
    gap: 10px;
  }

  .header-menu, 
  .header-login>.auth-buttons>.button{
    display: none;
  }

  .header-title{
    font-size: 0.6em;
  }
  .header-logo img {
    width: 8rem;
  }
} 

@media (max-width: 500px) {
  .header {
    gap: 10px;
    width: 93%;
  }
  .header-title{
    display: none;
  }
 
} 

