/* Estilo base para el footer (modo oscuro predeterminado) */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 90%;
  color: var(--kg-text-primary); /* Color claro en modo oscuro predeterminado */
  text-align: center;
  padding: var(--kg-padding-sm) var(--kg-padding-xl);
  font-size: var(--kg-font-size-text);
  border-radius: var(--kg-radius-md);
  position: sticky;
  margin: auto 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para el footer en modo claro */
body.dark .footer {
  color: var(--kg-text-dark); /* Color oscuro en modo claro */
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--kg-color-primary);
  opacity: 10%;
  border-radius: var(--kg-radius-md);
  z-index: -1; 
}

/* Estilo base para los enlaces del footer (modo oscuro predeterminado) */
.footer a {
  text-decoration: none;
  margin: 0 10px;
  color: var(--kg-text-primary); /* Color claro en modo oscuro predeterminado */
}

/* Estilo para los enlaces del footer en modo claro */
body.dark .footer a {
  color: var(--kg-text-dark); /* Color oscuro en modo claro */
}

.footer-logo,
.footer-menu,
.footer-social {
  text-align: center;
  display: flex;
}

.footer-logo img {
  width: 10rem;
}

.footer-menu {
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footer-menu a {
  text-decoration: none;
}

.footer-menu a:hover,
.footer-social a:hover {
  text-decoration: underline;
}

.footer-social {
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  width: 2em;
}

@media (max-width: 900px) {
  .footer-logo img {
    width: 8rem;
  }
  .copyright {
    font-size: var(--kg-font-size-text);
  }
} 

@media (max-width: 500px) {
  .footer-logo img {
    width: 6rem;
  }

  .footer-social {
    display: none;
  }
  .copyright {
    font-size: x-small;
  }
}
