.register-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--kg-color-dark);
  opacity: 95%;
  z-index: 10;
}

.register-form {
  position: absolute;
  width: 35%;
  left: 30%;
  top: 1rem;
  background-color: var(--kg-color-tertiary);
  border: 1px solid var(--kg-color-secondary);
  border-radius: var(--kg-radius-md);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1.5rem 0;
  gap: 1rem;
}

.form-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.avatar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--kg-gap-sm);
}

.change-avatar-btn{
  background-color: var(--kg-color-dark);
  font-size: 0.8rem;
  padding: var(--kg-padding-sm);
  color: var(--kg-color-tertiary);
  cursor: pointer;
}

.avatar-img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.register-form .input-span {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
  border-radius: var(--kg-radius-sd);
  padding: var(--kg-padding-sm) var(--kg-padding-sm);
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: var(--kg-gap-sd);
  background-color: var(--kg-color-dark);
  color: var(--kg-color-tertiary);
  outline: 2px solid var(--kg-color-dark);
}

.register-form input[type="text"]:focus,
.register-form input[type="email"]:focus,
.register-form input[type="password"]:focus {
  outline: 2px solid var(--kg-color-grey);
}

.label {
  align-self: flex-start;
  color: var(--kg-color-dark);
  font-weight: 600;
}

.register-form .submit {
  padding: var(--kg-padding-sm) var(--kg-padding-xl);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--kg-radius-md);
  background-color: var(--kg-color-dark);
  color: var(--kg-color-secondary);
  border: 2px solid var(--kg-color-dark);
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.register-form .submit:hover {
  background-color: transparent;
  color: var(--kg-color-dark);
  border: 3px solid var(--kg-color-dark);
}

.span {
  text-decoration: none;
  color: var(--kg-color-dark);
  font-weight: 500;
}

.span a {
  text-decoration: underline;
  color: var(--kg-color-secondary);
}

.closeBtn {
  color: var(--kg-color-dark);
  position: absolute;
  top: 0;
  right: 0.5em;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 6;
}

.closeBtn:hover,
.closeBtn:focus {
  color: var(--kg-color-dark);
  text-decoration: none;
  cursor: pointer;
}

.password-container {
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  color: var(--kg-color-tertiary);
}

.toggle-password:hover {
  opacity: 0.8;
}

.toggle-password img {
  width: 20px;
  height: 20px;
}

@media (max-width: 900px) {
  .register-form {
    width: 70%;
    left: 15%;
    top: 5%;
    gap: 1rem;
  }
} 

@media (max-width: 500px) {
  .register-form {
    width: 80%;
    left: 10%;
    top: 5%;
    gap: 1rem;
  }
}
