.home-container {
  padding: var(--kg-padding-md);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home-map-container {
  width: 100%;
  height: calc(100vh - 150px); 
  border-radius: var(--kg-radius-md);
  overflow: hidden;
  display: block;
  flex: 1;
}

.home-modal-content {
  padding: var(--kg-padding-md);
}

.home-modal-content h3 {
  font-size: var(--kg-font-size-h3);
  margin-bottom: var(--kg-margin-md);
  color: var(--kg-color-primary);
}

.home-modal-content p {
  margin-bottom: var(--kg-margin-md);
  line-height: 1.5;
}

.loading-message {
  text-align: center;
  padding: var(--kg-padding-md);
}

.location-error {
  position: absolute;
  top: var(--kg-padding-md);
  left: var(--kg-padding-md);
  background-color: rgba(255,0,0,0.7);
  color: white;
  padding: var(--kg-padding-sm);
  border-radius: var(--kg-radius-sd);
  font-size:var(--kg-font-size-text);
}

@media (max-width: 768px) {
  .home-modal-content h3 {
    font-size: var(--kg-font-size-h3);
  }
  
  .home-map-container {
    height: 250px;
  }
}





